    .texto-principal {
        font-size: 12px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20;
    }

    h2 {
        font-family: 'Allison', cursive;
    }

    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12;
    }

    li {
        font-family: sans-serif;
        font-size: 12;
    }

    label {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: slategrey;
    }

    .large-image {
        width: 10px;
        border-color:black;
        border-width: 3px;
        border-style: solid;
    }
    
    